<h1>Hello <span class="red"><%= @folk.name %></span>.</h1>
<h2>Welcome to the <span class="red">"<%= @room.name %>"</span> room!</h2>
<div id="folks">
	<h3>Folks Here</h3>
	<ul id="folk_list">
		<%= render :partial => 'folk', :collection => @room.online_folks %>
	</ul>
</div>
<div id="messages">
	<table id="message_table">
	<%= render :partial => 'message', :collection => @room.messages %>
	</table>
</div>
<div id="new_post">
<% remote_form_for(@message, :complete => "$('message_body').value = ''") do |f| %>
	<table width="100%">
		<tr>
			<td width="100%"><%= f.text_area :body, :rows => 3 %></td>
			<td><%= f.submit "Send"%></td>
		</tr>
	</table>
	<%= f.hidden_field :room_id %>
	<%= f.hidden_field :folk_id %>
<% end %>
</div>
<%= periodically_call_remote(	:url => [messages_path, "?room_id=", @room.id, "&folk_id=", @folk.id].join,
 															:method => "get",
															:frequency => 1 ) %>